.productsSelectWrap{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    background-color: #dde0e1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 10px;
    button{
      color: black;
      font-size: 14px;
      background: none;
      border: none;
      outline: none;
    }
    .money span{
      font-size: 20px;
      padding-top: 5px;
    }
  }
}
